body {
    background-color: cornflowerblue;
    font-family: 'Times New Roman', Times, serif
}

header{
    text-align: center;
    font-size: 22pt
}

#cityname {
    text-align: center;
}

#tempCountContainer, #sky, #city {
    background-color: white;
}

#tempCount{
    font-size: 18pt;
}

/* #weather-garden {
    text-align: right;
} */

#landscape {
    background-color: gray;
}
